#productsSect,
#cartSect {
  display: none;
}

.sections {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin: 10px;
}

.tabs {
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  /* background-color: wheat; */
}

.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #60b359;
  color: white;
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: #4e7a4a;
  color: white;
}

/* Style the tab content */
.container {
  padding: 6px 12px;
  border-top: none;
}

.active a {
  color: rgb(0, 0, 0);
}

li {
  font-size: 20px;
}

.breadcrumb {
  padding-left: 10px;
}

.breadcrumb-item {
  background-color: white;

  padding: 10px;
  /* border-radius: 10%; */
}
footer {
  color: rgb(0, 0, 0);

  display: flex;
  padding: 10px;
  background-color: white;
  justify-content: center;
}
