#productsSect,
#cartSect {
  display: none;
}

.sections {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin: 10px;
}

.tabs {
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  /* background-color: wheat; */
}

.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #60b359;
  color: white;
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: #4e7a4a;
  color: white;
}

/* Style the tab content */
.container {
  padding: 6px 12px;
  border-top: none;
}

.active a {
  color: rgb(0, 0, 0);
}

a {
  color: #027908; /* Inactive color (e.g., blue) */
  text-decoration: none; /* Optional: Removes underline */
}

a:hover {
  color: #000000; /* Slightly darker blue on hover */
  text-decoration: underline; /* Optional: Adds underline on hover */
}

li {
  font-size: 20px;
}

.breadcrumb {
  padding-left: 10px;
}

.breadcrumb-item {
  background-color: white;

  padding: 10px;
  /* border-radius: 10%; */
}
footer {
  color: rgb(0, 0, 0);

  display: flex;
  padding: 10px;
  background-color: white;
  justify-content: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #45c51b;
  outline: 3px #05830f solid;
  outline-offset: -3px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 400ms;
}
